# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editores / SO
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# TypeScript build info
*.tsbuildinfo
